body{
  background-image: url("img/bgpic.jpg");
  background-size: cover;
}

.wrap{
  min-height: 100vh;
}

.foot{

  background-color: #333;
  color: #eee;
  font-size: 14px;
  padding: 20px;
  margin-top: 20px;
}

ul.unstyled{
  list-style: none;
  padding: 0;
}

ul.unstyled a{
  color: #eee;
}


.baseline{
  margin: 0;
  padding: 5px;
  height: 100%;
  background-color: black;
  color: grey;
  text-align: center;
}
