<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABHIKALPANA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="wrap">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark sidebarNavigation " data-sidebarClass="navbar-dark">
        <a class="navbar-brand ml-4" href="#"> <img src="img/tlogo.png" alt="ABHIKALPANA" class="img-fluid"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-5 dropdown ">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Our Story<span class="caret"></span></a>
            <ul class="dropdown-menu bg-dark" style="border: none;">
              <li><a class="dropdown-item nav-link" href="#" onmouseover='this.style.color="black"' onmouseout='this.style.color="rgba(255,255,255,0.5)"'>History</a></li>
              <li><a class="dropdown-item nav-link" href="#" onmouseover='this.style.color="black"' onmouseout='this.style.color="rgba(255,255,255,0.5)"'>Vision</a></li>
              <li><a class="dropdown-item nav-link" href="#" onmouseover='this.style.color="black"' onmouseout='this.style.color="rgba(255,255,255,0.5)"'>Mission</a></li>
            </ul>
          </li>
          <li class="nav-item mr-5"><a class="nav-link" href="#">Pillars of Action</a></li>
          <li class="nav-item mr-5"><a class="nav-link" href="#">Volunteership</a></li>
          <li class="nav-item mr-5"><a class="nav-link" href="#">Events</a></li>
          <li class="nav-item mr-5"><a class="nav-link" href="#">Gallery</a></li>
          <li class="nav-item mr-5"><a class="nav-link" href="#">Contact Us</a></li>
        </ul>
        </ul>
      </div>
     </nav>
    </div>
    <footer>
      <div class="container-fluid foot">
        <div class="row">

          <div class="col-sm-2 col-md-2 col-lg-2">
            <p>Copyright &copy; 2018 ABHIKALPANA</p>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <p>About Us</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <p>Navigation</p>
            <ul class="unstyled">
              <li> <a href="#">Home</a> </li>
              <li> <a href="#">Categories</a> </li>
              <li> <a href="#">Volunteer Registration</a> </li>
              <li> <a href="#">Events</a> </li>
              <li> <a href="#">Gallery</a> </li>
              <li> <a href="#">Contact Us</a> </li>
            </ul>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <p>Follow Us</p>
            <ul class="unstyled">
              <li> <a href="#">Facebook</a> </li>
              <li> <a href="#">Instagram</a> </li>
            </ul>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <p>Register above to be a part of ABHIKALPANA</p>
          </div>

        </div>

      </div>
      <div class="container-fluid baseline">
        <h6><span class="oi oi-code"></span> with <span class="oi oi-heart"></span> by Team ABHHIKALPANA</h6>
      </div>
    </footer>




    <!-- js scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script  src="sidebarscript.js"></script>
  </body>
</html>
